.btn-given {
  color: #fff;
  background-color: #02b875;
  border-color: #02b875;
}

.btn-request {
  color: #fff;
  background-color: #f69856;
  border-color: #f69856;
}

.btn-started {
  color: #fff;
  background-color: #ff7473;
  border-color: #ff7473;
}

.btn-change {
  color: #fff;
  background-color: #41a6ca;
  border-color: #41a6ca;
}

.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:active,
.btn-ghost.active,
.open .dropdown-toggle.btn-ghost {
  color: #ff7473;
  background-color: transparent;
  border-color: #ff7473;
}