<div id="all">
    <!-- navbar-->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">llevatelo.co</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class ="link scroll-to" href="#caracteristicas">Caracteristicas</a></li>
        <li><a class ="link scroll-to"  href="#contacto">Contacto</a></li>
        <li><a  href="#" class="btn navbar-btn btn-ghost btn-sign-in">Ingresar</a></li>
        <li><a href="#" class="btn navbar-btn btn-ghost btn-started">Comienza</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- *** Seccion de entrada***-->
    <section id="intro" class="text-intro no-padding-bottom">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> ¿TIENES ALGO QUE NECESITES?, ¿ALGO DESEES REGALAR O INTERCAMBIAR.?</h1>
                    <h3 class="weight-300">Comparte aquellas cosas que ya no usas, puedes deshacerte de las cosas que no utilices y/o encuentra algo que te guste o necesite</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <p>Anímate publica aquellas cosas que te ocupan espacio y no uses.
            <br />Llevatelo.co un sitio para compartir.
          </p> -->
                    <form class="form-inline margin-top sign-up-form">
                        <!--<input id="email_intro" type="email" placeholder="Anota Aquí..." class="form-control"> "Casilla para anotar lo que se quiere buscar"-->
                        <input id="submit_intro" type="submit" value="Comenzar ahora" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--   *** Secciones de Navegación -->

    <section id="regalo" class="section background-gray-lightest">
        <div class="container">
            <div class="row text-center">
                <h2>Ultimos Artículos </h2>
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail" style="padding: 0px">
                        <h4 class="services-heading">Maquina de escribir</h4>
                        <img src="img/blog2.jpg" alt="">
                        <figure class="alert alert-danger btn-change" style="margin-bottom: 0px; padding:5px;">Cambia</figure>
                        <div class="caption">
                            <p>
                                <a class="asset-link-location">Bogota</a>
                                <a href="shop-detail.html" class="btn btn-default"><b>Mas Info</b></a>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail" style="padding: 0px">
                        <h4 class="services-heading">Maquina de escribir</h4>
                        <img src="img/blog2.jpg" alt="">
                        <figure class="alert alert-danger btn-given" style="margin-bottom: 0px; padding:5px;">Regalar</figure>
                        <div class="caption">
                            <p>
                                <a class="asset-link-location">Bogota</a> <a href="#" class="btn btn-default"><b>Mas Info</b></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail" style="padding: 0px">
                        <h4 class="services-heading">Maquina de escribir</h4>
                        <img src="img/blog2.jpg" alt="">
                        <figure class="alert alert-warning btn-request" style="margin-bottom: 0px; padding:5px;">Solicita</figure>
                        <div class="caption">
                            <p>
                                <a class="asset-link-location">Bogota</a> <a href="#" class="btn btn-default"><b>Mas Info</b></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail" style="padding: 0px">
                        <h4 class="services-heading">Maquina de escribir</h4>
                        <img src="img/blog2.jpg" alt="">
                        <figure class="alert alert-danger btn-change" style="margin-bottom: 0px; padding:5px;">Cambia</figure>
                        <div class="caption">
                            <p>
                              <a class="asset-link-location">Bogota</a> <a href="#" class="btn btn-default"><b>Mas Info</b></a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail" style="padding: 0px">
                        <h4 class="services-heading">Maquina de escribir</h4>
                        <img src="img/blog2.jpg" alt="">
                        <figure class="alert alert-danger btn-change" style="margin-bottom: 0px; padding:5px;">Cambia</figure>
                        <div class="caption">
                            <p>
                                <a class="asset-link-location">Bogota</a> <a href="#" class="btn btn-default"><b>Mas Info</b></a>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail" style="padding: 0px">
                        <h4 class="services-heading">Maquina de escribir</h4>
                        <img src="img/blog2.jpg" alt="">
                        <figure class="alert alert-danger btn-change" style="margin-bottom: 0px; padding:5px;">Cambia</figure>
                        <div class="caption">
                            <p>
                              <a class="asset-link-location">Bogota</a> <a href="/shop-detail.html" class="btn btn-default"><b>Mas Info</b></a>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail" style="padding: 0px">
                        <h4 class="services-heading">Maquina de escribir</h4>
                        <img src="img/blog2.jpg" alt="">
                        <figure class="alert alert-danger btn-change" style="margin-bottom: 0px; padding:5px;">Cambia</figure>
                        <div class="caption">
                            <p>
                                <a class="asset-link-location">Bogota</a> <a href="#" class="btn btn-default"><b>Mas Info</b></a>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail" style="padding: 0px">
                        <h4 class="services-heading">Maquina de escribir</h4>
                        <img src="img/blog2.jpg" alt="">
                        <figure class="alert alert-danger btn-change" style="margin-bottom: 0px; padding:5px;">Cambia</figure>
                        <div class="caption">
                            <p>
                                <a class="asset-link-location">Bogota</a> <a href="#" class="btn btn-default"><b>Mas Info</b></a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                  <a class="btn btn-primary">Ver Mas artículos</a>
                </div>
            </div>
        </div>
    </section>

    <!--   *** Secciones de Navegación -->

    <section id="caracteristicas"  class="section">
        <div class="container">
            <div class="row text-center">
              <h2>Caracteristicas </h2>
            </div>

            <div class="col-lg-4">
              <div class="text-center">
                <span class="fa fa-handshake-o fa-4x"></span>
              </div>
                <h2 class="text-center">Intercambia</h2>
                <p>¿No sabes qué hacer con ese articulo que ya no usas? Publícala e intercámbiala por algo que te guste.</p>
                <br><br>
                <p>Da clic en <b><a href="">CAMBIO</a></b> y revisa tus ofertas.</p>
            </div>
            <!-- col-lg-4 -->

            <div class="col-lg-4 callout">
                <div class="text-center">
                    <span class="fa fa-gift  fa-4x"></span>
                </div>
                <h2 class="text-center">Regala</h2>
                <p>¿Tienes cosas en buen estado que te da lástima botar? ¿Por qué no las regalas?</p>
                <p>Registra esos objetos y dales una segunda oportunidad de ser útiles.</p>
                <p>Da clic en <b><a href="">REGALA</a></b> e ingresa tus objetos.</p>
            </div>
            <!-- col-lg-4 -->

            <div class="col-lg-4 callout">
                <div class="text-center">
                    <span class="fa fa-hand-lizard-o  fa-4x"></span>
                </div>
                <h2 class="text-center">Solicita</h2>
                <p>Andas buscando algo pero no puedes comprarlo, Solicitalo y encuentra a alguien que lo posea y te lo quiera regalar.</p>
                <br><br>
                <p>Da clic en <b><a href="">NECESITO</a></b>, y encuentra lo que buscas sin gastar dinero.</p>
            </div>
            <!-- col-lg-4 -->
        </div>
        <!-- row -->
    </section>
    <!-- section -->

    <!--   *** Secciones de Navegación -->

    <section id="contacto"  class="section background-gray-lightest">
      <div class="container">
        <div class="row text-center">
          <h2>Contacto </h2>
          <form>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label for="firstname">Nombres</label>
                                      <input type="text" class="form-control" id="firstname">
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label for="email">Email</label>
                                      <input type="text" class="form-control" id="email">
                                  </div>
                              </div>

                              <div class="col-sm-12">
                                  <div class="form-group">
                                      <label for="message">Mensaje</label>
                                      <textarea id="message" class="form-control"></textarea>
                                  </div>
                              </div>

                              <div class="col-sm-12 text-center">
                                  <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i> Send message</button>

                              </div>
                          </div>
                          <!-- /.row -->
                      </form>
        </div>
      </div>
    </section>
    <!-- section -->

    <footer class="footer">
        <div class="footer__copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Creado por:  <b>Nicolas Mena Garzón</b></p>
                    </div>
                    <div class="col-md-6">
                        <p class="credit pull-right">Code by <a href="https://bootstrapious.com/landing-pages" class="external">Bootstrapious</a></p>
                        <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
