<div id="all">
  <!-- navbar-->
  <%= render 'shared/navigation' %>
  <!-- banner -->
  <%= render 'landing/shared/banner' %>
  <!--   *** list articles -->
  <%= render 'landing/shared/list_articles' %>
    <!--   *** Secciones de Navegación -->

    <section id="caracteristicas"  class="section">
        <div class="container">
            <div class="row text-center">
              <h2>Caracteristicas </h2>
            </div>
            <div class="col-lg-4">
              <div class="text-center">
                <span class="fa fa-handshake-o fa-4x"></span>
              </div>

              <h2 class="text-center">Intercambia</h2>
              <p>¿No sabes qué hacer con ese articulo que ya no usas? Publícala e intercámbiala por algo que te guste.</p>
              <br><br>
              <p>Da clic en <b><a href="">CAMBIO</a></b> y revisa tus ofertas.</p>
            </div>
            <!-- col-lg-4 -->
            <div class="col-lg-4 callout">
                <div class="text-center">
                    <span class="fa fa-gift  fa-4x"></span>
                </div>
                <h2 class="text-center">Regala</h2>
                <p>¿Tienes cosas en buen estado que te da lástima botar? ¿Por qué no las regalas?</p>
                <p>Registra esos objetos y dales una segunda oportunidad de ser útiles.</p>
                <p>Da clic en <b><a href="">REGALA</a></b> e ingresa tus objetos.</p>
            </div>
            <!-- col-lg-4 -->

            <div class="col-lg-4 callout">
                <div class="text-center">
                    <span class="fa fa-hand-lizard-o  fa-4x"></span>
                </div>
                <h2 class="text-center">Solicita</h2>
                <p>Andas buscando algo pero no puedes comprarlo, Solicitalo y encuentra a alguien que lo posea y te lo quiera regalar.</p>
                <br><br>
                <p>Da clic en <b><a href="">NECESITO</a></b>, y encuentra lo que buscas sin gastar dinero.</p>
            </div>
            <!-- col-lg-4 -->
        </div>
        <!-- row -->
    </section>
    <!-- section -->

    <!--   *** Secciones de Navegación -->

    <section id="contacto"  class="section background-gray-lightest">
      <div class="container">
        <div class="row text-center">
          <h2>Contacto </h2>
          <form>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label for="firstname">Nombres</label>
                                      <input type="text" class="form-control" id="firstname">
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label for="email">Email</label>
                                      <input type="text" class="form-control" id="email">
                                  </div>
                              </div>

                              <div class="col-sm-12">
                                  <div class="form-group">
                                      <label for="message">Mensaje</label>
                                      <textarea id="message" class="form-control"></textarea>
                                  </div>
                              </div>

                              <div class="col-sm-12 text-center">
                                  <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i> Send message</button>

                              </div>
                          </div>
                          <!-- /.row -->
                      </form>
        </div>
      </div>
    </section>
    <!-- section -->

    <footer class="footer">
        <div class="footer__copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Creado por:  <b>Nicolas Mena Garzón</b></p>
                    </div>
                    <div class="col-md-6">
                        <p class="credit pull-right">Code by <a href="https://bootstrapious.com/landing-pages" class="external">Bootstrapious</a></p>
                        <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
