<div class="col-md-3 col-sm-6 hero-feature">
  <div class="thumbnail">
    <div class = "image-article" style="background-image: url(<%= display_image_article(article) %>);"></div>
    <figure class="alert alert-danger btn-change" style="margin-bottom: 0px; padding:5px;">Cambia</figure>
    <div class="caption">
      <p>
        <a class="asset-link-location">Bogota</a>
        <a href="shop-detail.html" class="btn btn-default"><b>Mas Info</b></a>
      </p>
    </div>
  </div>
</div>