<div class="col-md-3 col-sm-6 hero-feature">
  <div class="thumbnail" style="padding: 0px">
    <%= image_tag display_image_article(article), size: "261x174" %>
    <figure class="alert alert-danger btn-change" style="margin-bottom: 0px; padding:5px;">Cambia</figure>
    <div class="caption">
      <p>
        <a class="asset-link-location">Bogota</a>
        <a href="shop-detail.html" class="btn btn-default"><b>Mas Info</b></a>
      </p>
    </div>
  </div>
</div>