<section id="intro" class="text-intro no-padding-bottom">
  <div class="dark-mask"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1> ¿TIENES ALGO QUE NECESITES?, ¿ALGO DESEES REGALAR O INTERCAMBIAR.?</h1>
        <h3 class="weight-300">Comparte aquellas cosas que ya no usas, puedes deshacerte de las cosas que no utilices y/o encuentra algo que te guste o necesite</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- <p>Anímate publica aquellas cosas que te ocupan espacio y no uses.
        <br />Llevatelo.co un sitio para compartir.
        </p> -->
        <form class="form-inline margin-top sign-up-form">
          <!--<input id="email_intro" type="email" placeholder="Anota Aquí..." class="form-control"> "Casilla para anotar lo que se quiere buscar"-->
          <input id="submit_intro" type="submit" value="Comenzar ahora" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</section>