<section id="intro" class="text-intro no-padding-bottom">
  <div class="dark-mask"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1> ¿TIENES ALGO QUE NECESITES? ¿ALGO DESEES REGALAR O INTERCAMBIAR?</h1>
        <h3 class="weight-300">Comparte aquellas cosas que ya no usas, puedes deshacerte de las cosas que no utilices y/o encuentra algo que te guste o necesite</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Comenzar Ahora', new_user_registration_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</section>