<section id="contact" class="section background-gray-lightest">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="box-simple">
          <div class="icon"><i class="fa fa-mobile"></i></div>
          <h3>WhatsApp/Número celular</h3>
          <p class="text-muted">¿Tienes preguntas? Llámanos o escríbenos.</p>
          <p><strong><a href="http://api.whatsapp.com/send?phone=573015692996" target='_blank'>+57 3015692996</a></strong></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-simple">
          <div class="icon"><i class="fa fa-envelope-o"></i></div>
          <h3>Correo electrónico</h3>
          <p class="text-muted">No dudes en contactarnos vía e-mail si tienes dudas o sugerencias, Nos dará gusto responder todas sus inquietudes.</p>
          <p><strong><a href="mailto:">nmena.garzon@gmail.com</a></strong></p>
        </div>
      </div>
    </div>
  </div>
</section>