<section id="contact" class="section background-gray-lightest">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="box-simple">
          <div class="icon"><i class="fa fa-mobile"></i></div>
          <h3>Whatsapp/Número celular</h3>
          <p class="text-muted">¿Preguntas? Llámanos o escríbenos</p>
          <p><strong>+57 3015692996</strong></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-simple">
          <div class="icon"><i class="fa fa-envelope-o"></i></div>
          <h3>Correo electrónico</h3>
          <p class="text-muted">No dudes en contactar via email. Estaremos deseando escuchar tus dudas o sugerencias.</p>
          <p><strong><a href="mailto:">nmena.garzon@gmail.com</a></strong></p>
        </div>
      </div>
    </div>
  </div>
</section>