<section id="features"  class="section">
  <div class="container">
    <div class="row text-center">
      <h2>Características</h2>
    </div>

    <div class="col-lg-4">
      <div class="text-center">
        <span class="fa fa-handshake-o fa-4x"></span>
      </div>
      <h2 class="text-center">Intercambia</h2>
      <p>¿No sabes qué hacer con ese articulo que ya no usas? Publícala e intercámbiala por algo que te guste.</p>
      <br><br>
      <p>Da clic en <b><a href="">CAMBIO</a></b> y revisa tus ofertas.</p>
    </div>

    <div class="col-lg-4 callout">
      <div class="text-center">
        <span class="fa fa-gift  fa-4x"></span>
      </div>
      <h2 class="text-center">Regala</h2>
      <p>¿Tienes cosas en buen estado que te da lástima botar? ¿Por qué no las regalas?</p>
      <p>Registra esos objetos y dales una segunda oportunidad de ser útiles.</p>
      <p>Da clic en <b><a href="">REGALA</a></b> e ingresa tus objetos.</p>
    </div>

    <div class="col-lg-4 callout">
      <div class="text-center">
        <span class="fa fa-hand-lizard-o  fa-4x"></span>
      </div>
      <h2 class="text-center">Solicita</h2>
      <p>Andas buscando algo pero no puedes comprarlo, Solicitalo y encuentra a alguien que lo posea y te lo quiera regalar.</p>
      <br><br>
      <p>Da clic en <b><a href="">NECESITO</a></b>, y encuentra lo que buscas sin gastar dinero.</p>
   </div>
  </div>
</section>