<section id="regalo" class="section background-gray-lightest">
  <div class="container">
    <div class="row text-center">
      <h2>Últimos Artículos </h2>
      <% @articles.each_slice(4) do |articles| %>
        <div class="row text-center">
          <% articles.each do |article| %>
            <%= render 'shared/article', { article: article } %>
          <% end %>
        </div>
      <% end %>

      <div class="row text-center">
        <div class="col-md-12">
          <%= link_to 'Ver Mas artículos', articles_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</section>
