<footer class="footer">
  <div class="footer__copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>Llevatelo.co es creado por: <b>Nicolas Mena Garzón</b></p>
        </div>

        <div class="col-md-4">
          <p><%= link_to 'Términos y Condiciones', terms_pages_path %></p>
          <p><%= link_to 'Políticas de uso', policies_pages_path %></p>
        </div>

        <div class="col-md-4">
          <p class="credit pull-right">Code by <a href="https://bootstrapious.com/landing-pages" class="external">Bootstrapious</a></p>
          <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
        </div>
      </div>
    </div>
  </div>
</footer>