<footer class="footer">
  <div class="footer__copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>Llevatelo.co es creado por:<br/><b>Nicolas Mena</b></p>
        </div>

        <div class="col-md-3">
          <p><%= link_to 'Términos y Condiciones', terms_pages_path %></p>
          <p><%= link_to 'Políticas de uso', policies_pages_path %></p>
        </div>

        <div class="col-md-3">
          <strong>¡SÍGUENOS!</strong>
          <ul>
            <a href='https://www.facebook.com/llevatelonm/' target='_blank'>
              <i class='fa fa-facebook-square' style='font-size:24px;'></i>
            </a>
            <a href='#'>
              <i class='fa fa-instagram' style='font-size:24px'></i>
            </a>
          </ul>
        </div>

        <div class="col-md-3">
          <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
          <p class="credit pull-right">Code by <a href="https://bootstrapious.com/landing-pages" class="external">Bootstrapious</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>