<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="policesmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Política de privacidad</h4>
      </div>
      <div class="modal-body">
        <p>En <b>Llevatelo.co</b> respetamos tu  información que recolectamos y la guardamos muy bien. Ningún tipo de información personal será vendida ni intercambiada con terceros.</p>
        <h2>Publicación de productos.</h2>
        <p>Los elementos  publicados junto con la información en <b>llevatelo.co</b> son almacenadas y se hacen públicamente visibles hasta que se llegue a un acuerdo con otro usuario o se decida eliminar la publicación, luego del cual no podrá ser accedida nuevamente.</p>
        <h2>Recibir ofertas</h2>
        <p><b>Llevatelo.co</b> solo almacena información que haga referencia a los productos publicados y que permitan llevar a cabo las trnsacciones. No almacena nombres, documentos, direcciones o cualquier información de carácter personal que pueda ser utilizada para identificar a una persona.</p>
        <h2>En general</h2>
        <p>Cumplimos con el Hábeas Data de la legislación de Colombia.</p>
        <p>Mantenemos los datos almacenados de forma segura y damos un manejo responsable de los mismos.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
