<form id="search-form" method="get" action="#" class="search-form">
  <div class="controls">
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label for="profession">Articulo</label>
          <input type="text" id="article" name="article" placeholder="Articulo que estas buscando" class="form-control">
        </div>
      </div>
      <div class="col-sm-2">
        <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
      </div>
    </div>
  </div>
</form>
