<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Terminos y Condiciones</h4>
      </div>
      <div class="modal-body">
        <p>Al ingresar información en esta plataforma estas aceptando, de manera expresa, libre y voluntaria las siguientes condiciones para el tratamiento de sus datos personales.
        Ningún tipo de información personal será vendida.</p>

        <h2>Publicación de productos.</h2>
        <p>La información requerida se utilizará para:</p>

        <ol>
          <li>Ofertar un producto como regalo o trueque  disponible para cualquier visitante de <b>llevatelo.co</b> este estará disponible hasta que se concrete la transacción.</li>
          <li>Solicitar un producto bien sea como regalo o trueque, dicha solicitud podrá ser  vista por cualquier visitante de Llevatelo.co.</li>
          <li>Compartir la oferta del producto de manera publica por email, redes sociales, u otros medios que permitan su difusión masiva.
          <li>Establecer a <b>Llevatelo.co</b>  como un canal de comunicación  entre el publicante y aquellas personas interesadas en las ofertas.</li>
        </ol>


        <h2>Que no puedes ofertar. </h2>

        <ol>
          <li>En <b>Llevatelo.co</b> no se permite la publicación de ningún tipo de animal o ser vivo.</li>
          <li>Igualmente <b>llevatelo.co</b> no permite que se publiquen artículos prohibidos por las normas leyes vigentes del país donde se haga uso de la aplicación, por lo no se hace responsable por las transacciones de aquellos productos que no cumplan con la ley.</li>
          <li> <b>Llevatelo.co</b> es una plataforma gratuita y no se permite el uso de dinero como intercambio a otros productos en la plataforma, salvo sea moneda coleccionable.</li>
        </ol>


        <h2>En General</h2>

        <p>Al navegar y registrarte a <b>Llevatelo.co</b>  reconoces y aceptas que tus datos aquí registrados podrán ser puestos a disposición del personal encargado dentro de la compañía con el fin de cumplir las  finalidades citadas.
          Además  reconoces y aceptas que te hemos informado plena y suficientemente mente acerca de tus derechos como titular de los datos registrados en <b>Llevatelo.co</b>, y declaras, reconoces y aceptas que la información suministrada de forma voluntaria, en el momento del registro,  publicación y oferta  es verídica y que no se ha omitido o adulterado ninguna información.
          <b>Llevatelo.co</b> es solo un intermediario y no participa en ninguna transacción entre usuarios, y no se hace responsable por lo aquí publicado.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
