<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Acerca de</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p>LLevaterlo.co es un sitio web donde  conecta a la comunidad local para regalar articulos que no uses, pedir regalado cosas que necesites o intercambiar bienes y servicios. </p>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h4>Regalas</h4>
        <i class="fa fa-gift size-72" aria-hidden="true"></i>
      </div>

      <div class="col-lg-4">
        <h4>Pedir lo que necesites</h4>
        <i class="fa fa-hand-lizard-o size-72" aria-hidden="true"></i>
      </div>

      <div class="col-lg-4">
        <h4>Intercambia</h4>
        <i class="fa fa-handshake-o size-72" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section>
