<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Acerca de</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class='text'>
      <h2 class='subtitle'>¿Que es LLevatelo.co?</h2>
      <div class="row">
        <div class="col-lg-12">
          <p>LLevaterlo.co es un sitio web donde  conecta a la comunidad local para regalar articulos que no uses, pedir regalado cosas que necesites o intercambiar bienes y servicios. </p>
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h4>Regalas</h4>
          <i class="fa fa-gift size-72" aria-hidden="true"></i>
        </div>

        <div class="col-lg-4">
          <h4>Pedir lo que necesites</h4>
          <i class="fa fa-hand-lizard-o size-72" aria-hidden="true"></i>
        </div>

        <div class="col-lg-4">
          <h4>Intercambia</h4>
          <i class="fa fa-handshake-o size-72" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="text">
    <h2 class='subtitle'>Normas</h2>
      <div class="row">
        <div class="col-lg-12">
          <li>Para publicar un articulo  o acceder a cualquiera a una  ellas es necesario registrarse.</li>
          <li>Todas las ofertas publicadas son totalmente gratuitas y el contenido de las mismas es elaborado por el anunciante de la misma.</li>
          <li>El único medio de comunicación entre los usuarios es el correo electrónico y el numero telefónico. </li>
          <li>Es imprescindible registrarse con una dirección de email  y un numero telefonico válido.</li>
          <li>No  indicar email/telefono ni cualquier otra forma de contacto en la descripción del articulo.</li>
          <li>Las articulos  que no cumplan las normas serán eliminadas.</li>
          <li>Llevaterlo.co no se hara responsable de las negociaciones que se hagan en las publicaciones</li>
        </div>
      </div>
    </h2>
  </div>
</section>
