<div class="col-md-4 col-sm-6">
  <div class="thumbnail">
    <div class="img-content">
      <% if ff.object.new_record? %>
        <div class="js-image-preview"></div>
      <% else %>
        <div class="js-image-preview" style="background-image: url('<%= ff.object.image_file_name_url %>');"></div>
      <% end %>
    </div>

    <div class='actions'>
      <a class="preview-image btn btn-default btn-xs" href="#" data-toggle="tooltip" data-placement="bottom" title="Ver">
        <i class="glyphicon glyphicon-eye-open"></i>
      </a>
      <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, '#', data: { confirm: 'Esta seguro?' }, class: 'destroy-article btn btn-danger btn-xs' %>
      <%= ff.remove_nested_fields_link '', class: 'hidden' %>
    </div>


    <%= ff.file_field :image_file_name, class: 'hidden file-image' %>
  </div>
</div>