.articles {
  padding-top: 70px;
  padding-bottom: 50px;

  .date-info{
    font-size: 14px;
  }

  .contact-info {
    font-size: 18px
  }

  .caption-full {
    padding: 20px;
  }
}


.articles-listing {
  border: solid 1px #eee;
  border-bottom: none;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
  margin-bottom: 20px;
  .img-responsive {
    max-width: 85px;
    max-height: 85px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .empty-article{
    padding: 10px;
  }
}

.my-articles{
  h2 {
    margin-top: 5%;
  }
  .articles-tabs {
    margin-top: 5%;
  }
}
