body {
font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
overflow-x: hidden;
}

p
{
font-size: 20px;
}

p.small
{
font-size: 16px;
}

a, a:hover, a:focus, a:active, a.active {
color: $theme-success;
outline: none;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform: uppercase;
font-weight: 700;
}

hr.star-light, hr.star-primary {
padding: 0;
border: none;
border-top: solid 5px;
text-align: center;
max-width: 200px;
margin: 25px auto 30px;
}

hr.star-light {
border-color: white;
&:after{
background-color: $theme-success;
color: white;
}
}

hr.star-primary {
border-color: $theme-primary;
&:after{
background-color: white;
color: $theme-primary;
}
}

header {
text-align: center;
background: #18BC9C;
color: white;
}
header .container {
padding-top: 100px;
padding-bottom: 50px;
}
header img {
display: block;
margin: 0 auto 20px;
}
header .intro-text .name {
display: block;
font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform: uppercase;
font-weight: 700;
font-size: 2em;
}
header .intro-text .skills {
font-size: 1.25em;
font-weight: 300;
}

@media (min-width: 768px) {
header .container {
padding-top: 200px;
padding-bottom: 100px;
}
header .intro-text .name {
font-size: 4.75em;
}
header .intro-text .skills {
font-size: 1.75em;
}
}

section {
	  padding: 100px 0;
	}
	section h2 {
	  margin: 0;
	  font-size: 3em;
	}
	section.success {
	  background: #18BC9C;
	  color: white;
	}
	@media (max-width: 767px) {
	  section {
	    padding: 75px 0;
	  }
	  section.first {
	    padding-top: 75px;
	  }
	}

.img-centered {
margin: 0 auto;
}

section {
padding: 70px 0;
h2 {
margin: 0;
font-size: 3em;
}
}

.floating-label-form-group {
position: relative;
margin-bottom: 0;
padding-bottom: 0.5em;
border-bottom: 1px solid $gray-lighter;
input, textarea {
z-index: 1;
position: relative;
padding-right: 0;
padding-left: 0;
border: none;
border-radius: 0;
font-size: 1.5em;
background: none;
box-shadow: none !important;
resize: none;
}
label {
display: block;
z-index: 0;
position: relative;
top: 2em;
margin: 0;
font-size: 0.85em;
line-height: 1.764705882em;
vertical-align: middle;
vertical-align: baseline;
opacity: 0;
-webkit-transition: top 0.3s ease,opacity 0.3s ease;
-moz-transition: top 0.3s ease,opacity 0.3s ease;
-ms-transition: top 0.3s ease,opacity 0.3s ease;
transition: top 0.3s ease,opacity 0.3s ease;
}
&:not(:first-child) {
padding-left: 14px;
border-left: 1px solid $gray-lighter;
}
}

.floating-label-form-group-with-value {
label {
top: 0;
opacity: 1;
}
}

.floating-label-form-group-with-focus {
label {
color: $theme-success;
}
}

form .row:first-child .floating-label-form-group {
border-top: 1px solid $gray-lighter;
}

footer {
color: white;
h3 {
margin-bottom: 30px;
}
.footer-above {
padding-top: 50px;
background-color: $theme-primary;
}
.footer-col {
margin-bottom: 50px;
}
.footer-below {
padding: 25px 0;
background-color: darken($theme-primary, 5%);
}
}

.scroll-top {
position: fixed;
right: 2%;
bottom: 2%;
width: 50px;
height: 50px;
z-index: 1049;
.btn {
font-size: 20px;
width: 50px;
height: 50px;
border-radius: 100%;
line-height: 28px;
&:focus {
outline: none;
}
}
}

/*Generate sytles .size-12 { font-size: 12px; , .size-14 { font-size: 14px; }, etc */
$i: 120    ;
@while $i > 0 {
.size-#{$i} { font-size: #{$i}px; }
$i: $i - 2;
}
