@media(max-width:768px) {
	.page {
		margin-top: 70px;
	}
	section {
		padding: 75px 0;
	}

	section.first {
		padding-top: 75px;
	}

  #portfolio {
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}

@media(min-width:768px) {
	.page {
		margin-top: 90px;
	}

  header {
		padding: 20px;
		.intro-text {
			.name {
				font-size: 4.75em;
			}
		}
	}

  .navbar-custom, .dropdown-menu {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }

  .navbar-custom.affix {
    padding: 10px 0;
	  .navbar-brand {
	    font-size: 1.5em;
	  }
	}
}

@media screen and (max-width:320px) {
	font-size: 12px;
}
