@media(max-width:767px) {
	section {
		padding: 75px 0;
	}
  
	section.first {
		padding-top: 75px;
	}

  #portfolio {
    .portfolio-item {
      margin: 0 0 30px;
    }
  }
}


@media(min-width:768px) {
  header {
		.container {
			padding-top: 200px;
			padding-bottom: 100px;
		}
		.intro-text {
			.name {
				font-size: 4.75em;
			}
			.skills {
				font-size: 1.75em;
			}
		}
	}

  .navbar-custom, .dropdown-menu {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }

  .navbar-custom.affix {
    padding: 10px 0;
	  .navbar-brand {
	    font-size: 1.5em;
	  }
	}
}
