// #login-modal .modal-dialog {
//   width: 350px;
// }

// #div-login-msg {
//   margin-bottom: 20px;
// }

// #login-form textarea {
//   height: 200px;
//   resize: none;
// }

// #img_logo {
//     max-height: 100px;
//     max-width: 100px;
// }

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    border-bottom: 0px;
}

// .modal-body {
//     position: relative;
//     padding: 5px 15px 5px 15px;
// }

// .modal-footer {
//   padding: 15px 15px 15px 15px;
//   text-align: left;
//   border-top: 0px;
// }