header {
	text-align: center;
	background: $theme-success;
	color: white;
	.container {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	img {
		display: block;
		margin: 0 auto 20px;
	}
	.intro-text {
		.name {
			display: block;
			font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 2em;
		}
		.skills {
			font-size: 1.25em;
			font-weight: 300;
		}
	}
}

#portfolio {
  .caption{
    font-size: 16 px;
  }
  .details{
    i {
      margin-right: 5px;
    }
    color: $gray;
    font-size: 14px;
  }

  .description{
    font-size: 16px;
    color: $gray;
  }
}

#search-form{
  .btn {
    margin-top: 25px;
    width: 100%;
  }
}
