#portfolio {
  .caption{
    font-size: 16 px;
  }
  .details{
    i {
      margin-right: 5px;
    }
    color: $gray;
    font-size: 14px;
  }

  .description{
    font-size: 16px;
    color: $gray;
  }
}
