<p>Bienvenido <%= @email %>!</p>

<p>Por favor confirme su cuenta, haciendo  clic en el siguiente enlace: </p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Saludos,</p>
<p style="box-sizing: border-box; margin: 0;">
  <%= link_to 'Llevatelo.co', root_url %>
</p>
<br style="box-sizing: border-box;">
