<p>Hola <%= @resource.email %>!</p>

<p>¿Olvidaste la contraseña? No te preocupes, Haz clic en el siguiente link para generar una nueva contraseña:</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Sino has solicitado cambiar tu contraseña, puedes borrar este correo.</p>

<p>Saludos,</p>
<p style="box-sizing: border-box; margin: 0;">
  <%= link_to 'Llevatelo.co', root_url %>
</p>
<br style="box-sizing: border-box;">
