<p>Hola <%= @resource.email %>!</p>

<p>¿Olvidaste la contraseña? No te preocupes,

<p>Por solicitud a través de su cuenta de <b>>LLevatelo.co</b> te invitamos hacer clic en el siguiente link para generar una nueva
contraseña: </p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has solicitado el cambio de contraseña puedes hacer caso omiso a este correo electrónico.</p>

<p>Saludos,</p>

<p style="box-sizing: border-box; margin: 0;">
  <%= link_to 'Llevatelo.co', root_url %>
</p>
<br style="box-sizing: border-box;">
