<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <small>
      Esta informacion y sus adjuntos esta dirigida exclusivamente a sus destinatarios. Antes de imprimir este correo, piense si es
      necesario. Caracteres especiales y tildes han sido omitidos de forma voluntaria para compatibilidad de los sistemas.
    </small>
  </body>
</html>
